/* font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif; */
a{
    text-decoration: none;
}

html,
body {
    height: 100%;
}
.wrapper {
    background-color: #FFFFFF;
}
.header {

}
.container {
    max-width: 1210px;
    padding: 0px 10px;
    margin: 0px auto;
    position: relative;

}
.header__contant {
}
.log {
    display: block;

}
.log__img {
    margin-top: 14px;
}
.log__name{
    margin-left: 14px;
    color: #333333;
    display: inline-block;
}
.log__title {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.log__text {
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 3px;
}
.nav {
}
.nuv__list {
 position: absolute;
    right: 0;
    top:22px;
}
.nuv__item {
    display: inline-block;
    list-style: none;
    margin-right: 40px;  
}
.nuv__item:hover{
    border: 2px solid #475F45;
    max-width: 169px;
    max-height: 46px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
   
}
.nuv__link { 
    font-family: 'Roboto', sans-serif;;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #475F45;
}


    .hero {
    }
    .hero__content {
        margin-top: 225px;
    }
    .hero__title, .info__title{
        font-family: 'Libre Baskerville',sans-serif;
        font-weight: 400;
        font-size: 57px;
        line-height: 110%;
        max-width: 528px;
        max-height: 126px;
        text-transform: capitalize;
        color: #343D33;
        margin-bottom: 16px;
    }
    .hero__text {
        max-width: 471px;
        max-height: 76px;
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        font-size: 25px;
        line-height: 150%;
        color: #414840;
        margin-bottom: 32px;
    }
    .button {
        margin-bottom: 300px; 
    }  
    .hero__img{
    width: 478px;
    height: 660px;

    }

    .button__btn_presed, .button__btn, .desc__btn{
        padding: 20px 40px;
        border: 2px solid #475F45;
        margin-right: 16px;
        gap: 10px;
        color: #475F45;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        background-color: #FFFFFF;
        cursor: pointer;
        letter-spacing: 0.15em;
    }
     .button__btn_presed{
        background: #475F45;
        color: #FFFFFF;
    }
     
    .desc {
        background-color: #343D33;
    }
    .container {
    }
    .desc__contant {
    }
    .desc__title {
        max-width: 417px;
        max-height: 100px;
        font-family: 'Libre Baskerville',sans-serif;
        font-weight: 400;
        font-size: 45px;
        line-height: 110%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 32px;
    }
    .desc__text{
        width: 401px;
        height: 120px;
        font-family: 'Roboto',sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;

    }
    .desc__btn {
        background: #343D33;
        border: 2px solid #FFFFFF; 
        color: #FFFFFF;
        margin-bottom: 94px;
    }
    .desc__potflowers {
        width: 534px;
        height: 354px;
        margin-bottom: 80px;
    }
    .desc__holflowers {
        width: 1040px;
        height: 409px;
    }

    .news__title {
    max-width: 375px;
    max-height: 50px;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: #343D33;
    margin-top: 92px;

    }
    .news__post {
        display: flex;
        margin-bottom: 30px;
    }
    .news__line {
    width: 131px;
    height: 2px;
    left: 99px;
    top: 2127px;
    background: #475F45;
    opacity: 0.4;
    }
    .nuv__link {
    }
    .news__arrow {    
    width: 24px;
    height: 24px;
    }
    

    .info__title{
        font-size: 45px;
    }
    .main {
    }
    .main__img-garden {
        width: 520px;
        height: 333px;
        margin-bottom: 20px;

    }
    .main__title {
        font-family: 'Libre Baskerville';
        font-weight: 400;
        font-size: 23px;
        line-height: 110%;
        color: #475F45;
        margin-bottom: 12px;
        max-width: 280px;
        max-height: 25px;
    }
    .main__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #414840;
        margin-bottom: 12px;
        max-width: 471px;
        max-height: 73px;
    }
    .main__data {
        max-width: 280px;
        max-height: 24px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #343D33;
    }
    .rec {
    }
    .rec__lash-gardens {
    }
    .rec__img-rec {
        width: 236px;
        height: 151px;
        margin-right: 20px;
    }
    .rec__title {
        max-width: 280px;
        max-height: 25px;
        font-family: 'Libre Baskerville';
        font-weight: 400;
        font-size: 23px;
        line-height: 110%;
        color: #475F45;
        margin-bottom: 12px;
    }
    .rec__text {
        max-width: 354px;
        max-height: 48px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #414840;
        margin-bottom: 12px;
    }
    .rec__data {
        max-width: 280px;
        max-height: 24px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #343D33;
        margin-bottom: 35px;
    }

    .rec__exotic-nature {
    }
    .rec__soil {
    }    
    .info__line{
        width: 630px;
        height: 1px;
        background: #C4C4C4;
        order: 1;
        margin-bottom: 20px;
    }